<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^(.*)$ $1.php
</IfModule>

RewriteEngine On
ErrorDocument 401 /error/401.php
ErrorDocument 404 /error/404.php
ErrorDocument 500 /error/500.php